


<header>
   <h1> SUP SHORTY </h1>
</header>

<form method="POST" action="/login %>"> <button type="submit" class="btn btn-primary">Submit</button>
  <input type="text" name="username" placeholder="Username" style="width: 300px">
  </form>