
<header>
   <h1> SHORTIFY </h1>
</header>

<% if (user) { %>
  <p> Logged in as: <%= user.email %> </p>
  <form method="POST" action="/logout %>">
  <button type="submit" class="btn btn-primary">Logout</button>

<% } else { %>

  <p>You are not logged in.</p>

  <p><a href="/login">Login</a>  |  <a href="/register">Register</a></p>

<% } %>

