<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <p>Please Login</p>
  <form method="POST" action="/login %>">
      <input type="email" name="username" placeholder="Username" style="width: 300px">
      <input type="password" name="password" placeholder="Password" style="width: 300px">
      <button type="submit" class="btn  btn-primary">Login</button>
  </form>

</body>
</html>