<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <p>Please Login</p>
  <form method="POST" action="/login %>">
      Email: <input type="email" name="email" placeholder="x.y@example.com" style="width: 300px">
      PW: <input type="password" name="password" placeholder="***" style="width: 300px">
      <button type="submit" class="btn  btn-primary">Login</button>
  </form>
  <a href="/register">Register</a>

</body>
</html>