
<!DOCTYPE html>
<html>
<head>
  <% include ./partials/_header %>
</head>
<body>


  <% if(!user) { %>

  <p> You must be logged in to see shortened URLS </p>

  <% } %>


  <% if(user) { %>

    <h1> ShortURL: <a href="/u/<%= shortURL %>"> <%= shortURL %></a> </h1>
    <h4> Shrotened from: <%= longURL %> </h4>

    <label for="newURL"> Enter a New URL </label>

    <form method="POST" action="/urls/<%= shortURL %>">
        <button type="submit" class="btn btn-primary">Update</button>
        <input type="text" name="newURL" placeholder="http//" style="width: 300px">
    </form>
    <a href="/urls"> Your URLS </a>
  <% } %>

</body>
</html>